<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button shape="round" >confirm</ion-button>
      </ion-buttons>
    <ion-title>Plan-a-Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-grid>
      <ion-row>
          <ion-label position="floating">Accomodation</ion-label>
      </ion-row>
    <ion-row>
        
      <ion-col>
          <ion-button
          size="large"
          color="success"
          expand="block"
          class="ion-margin-top "
          >Details</ion-button
        >
      </ion-col>
      <ion-col>
          <ion-button
          size="large"
          color="success"
          expand="block"
          fill="outline"
          class="ion-margin-top "
          >Search </ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-label position="floating">Transportation</ion-label>
    </ion-row>
  <ion-row>
      
    <ion-col>
        <ion-button
        size="large"
        color="success"
        expand="block"
        class="ion-margin-top "
        >Details</ion-button
      >
    </ion-col>
    <ion-col>
        <ion-button
        size="large"
        color="success"
        expand="block"
        fill="outline"
        class="ion-margin-top "
        >Search </ion-button
      >
    </ion-col>
  </ion-row>
    <ion-row>
        <ion-label position="floating">Activities</ion-label>
    </ion-row>
  <ion-row>
      
    <ion-col>
        <ion-button
        size="large"
        color="success"
        expand="block"
        class="ion-margin-top "
        >Details</ion-button
      >
    </ion-col>
    <ion-col>
        <ion-button
        size="large"
        color="success"
        expand="block"
        fill="outline"
        class="ion-margin-top "
        >Search </ion-button
      >
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
       
        <ion-button
        size="large"
        color="success"
        expand="block"
        fill="outline"
        class="ion-margin-top "
        ><ion-icon name ="add" slot ="start"></ion-icon>Add Destination </ion-button
      >
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
