<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"
        [defaultHref]="'/plan-a-trip/2/' + iten_id"
      ></ion-back-button>
    <ion-buttons slot="primary">
        <ion-button (click)="onConfirm()" >
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="actvity_added">
        <ion-item-sliding *ngFor="let activity of activities; let i = index">
          <ion-item >
            <ion-thumbnail slot="start">
              <img *ngIf="activity.type=='hiking'"
                [src]="'/assets/bus.jpg'"
              />
              <img *ngIf="activity.type=='sightseeing'"
                [src]="'/assets/Taxi.jpg'"
              />
              <img *ngIf="activity.type=='lunch'"
                [src]="'/assets/lunch.jpg'"
              />
              
            </ion-thumbnail>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>
                    <h2>{{ activities[i].provider }}</h2>
                    <h4>{{ activities[i].price }}</h4>
                    <ion-icon name="time" class="time"></ion-icon>
                    <span class="time" slot="start">From: </span>
                    <span class="time" slot="start">{{ activities[i].start_time }}</span>
                    <br />
                    <ion-icon name="time" class="time"></ion-icon>
                    <span class="time" slot="start">To: </span>
                    <span class="time" slot="start">{{ activities[i].end_time }}</span>
                  </ion-label>
                </ion-col>
               
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options>
              <ion-item-option
                color="danger"
                
              >
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>
  <form *ngIf="!actvity_added" [formGroup]="form">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Type</ion-label>
              <ion-select formControlName="type">
                <ion-select-option *ngFor="let type of types">{{
                  type
                }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Location</ion-label>
              <ion-input formControlName="location"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">Start Time</ion-label>
              <ion-datetime
                display-format="HH: mm"
                picker-format="HH: mm"
                formControlName="start_time"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">End Time</ion-label>
              <ion-datetime
                display-format="HH: mm"
                picker-format="HH: mm"
                formControlName="end_time"
              ></ion-datetime>
            </ion-item>
            <ion-button (click)="onCofirmAdd()" color="success" expand="block">
              confirm
            </ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="actvity_added" class="ion-text-end">
        <ion-button (click)="onAddActivity()" fill="outline" padding
          ><ion-icon name="add" slot="start"></ion-icon>Add
          Activity</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
